@model IEnumerable<SchoolManagement.ViewModels.StudentViewModel>

@{
    ViewBag.Title = "Studenter";
}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="col-lg-offset-4">STUDENTER</h2>

                <div class="button-margin">
                    <form class="navbar-form navbar-right" role="search" method="post" action="/Home/StudentSearch">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Sök" name="search">
                        </div>
                        <button type="submit" class="btn btn-info">Sök</button>                        
                        @if (ViewBag.VisaKnapp != null)
                        {
                            @Html.ActionLink("Reset", "GetAllStudents", null, new { @class = "btn btn-info" })
                        }
                    </form>
                    @Html.ActionLink("Dölj/Visa Menyn", "#menu-toggle", null, new { @class = "btn btn-default", @id = "menu-toggle" })
                    @Html.ActionLink("Registrera ny Student", "AddStudent", null, new { @class = "btn btn-primary" })
                </div>
                <table class="table table-hover">
                    <tr>
                        <th id="printhide"></th>
                        <th id ="printhide"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="printhide" style="width:50px;">
                                <a href="@Url.Action("EditStudent", new{ ID = item.ID})">
                                    <span title="Uppdatera" class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td id ="printhide" style="width:50px;">
                                <a href="@Url.Action("DeleteStudent", new{ ID = item.ID})">
                                    <span title="Avregistrera" class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirthDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
