@model IEnumerable<SchoolManagement.Models.Teachers>

@{
    ViewBag.Title = "LÄRARE";
}

<h2 class="text-center" style="margin-top:0px">LÄRARE</h2>

<div style="margin-bottom:10px;">
    @Html.ActionLink("Ny Lärare", "AddTeacher", null, new { @class = "btn btn-primary" })
</div>
<table class="table table-hover">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:50px;">
                <a href="@Url.Action("EditTeacher", new{ ID = item.ID })">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td style="width:50px;">
                <a href="@Url.Action("DeleteTeacher", new{ ID = item.ID })">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @*@Html.ActionLink("Uppdatera", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Info", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id=item.ID })*@
        </tr>
    }
</table>
